/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 15px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-logo a {
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links a {
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
}

.navbar-links a:hover {
    background-color: #0056b3;
    border-radius: 5px;
}

/* Contenedor de eliminar posts */
.posts-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    color: #333;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

select:focus {
    border-color: #007bff;
    outline: none;
}

/* Detalles del post */
#postDetails {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    color: #333;
}

#postDetails h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

#postDetails p {
    margin: 5px 0;
}

/* Botón de eliminar */
.btn-delete {
    width: 100%;
    background-color: #dc3545;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.btn-delete:hover {
    background-color: #c82333;
}
