/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 15px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-logo a {
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links a {
    color: white;
    font-size: 1.1rem;
    text-decoration: none;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
}

.navbar-links a:hover {
    background-color: #0056b3;
    border-radius: 5px;
}

/* Contenedor de contacto */
.contact-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

.contact-info {
    margin-top: 20px;
}

.contact-logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.creator-name {
    font-size: 1.3rem;
    font-weight: 600;
    color: #333;
}

.developer-role {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 20px;
}

.github-button {
    display: inline-block;
    background-color: #24292f;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.github-button:hover {
    background-color: #444d56;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #007bff;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 0.9rem;
}
s