<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - Xián Durán Taboada</title>
    <link rel="stylesheet" href="/contact/contact.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>

<!-- Barra de navegación -->
<nav class="navbar">
    <div class="navbar-logo">
        <a href="/posts">XianBlogSpot</a>
    </div>
    <ul class="navbar-links">
        <li><a href="/posts">Inicio</a></li>
        <li><a href="/contact">Contacto</a></li>
    </ul>
</nav>

<!-- Contenedor de contacto -->
<div class="contact-container">
    <h2>Contacto</h2>
    <div class="contact-info">
        <img src="/images/image.jpeg" alt="Logo de Xián Durán Taboada" class="contact-logo">
        <p class="creator-name">Creado por: <strong>Xián Durán Taboada</strong></p>
        <p class="developer-role">Desarrollador Junior</p>
        <a href="https://github.com/xianDT01" target="_blank" class="github-button">Mi GitHub</a>
    </div>
</div>

<!-- Pie de página -->
<footer>
    <p>&copy; 2024 Xián Durán Taboada</p>
</footer>

</body>
</html>
